<p>hero-add works!</p>

<pre> dirty => {{ f.dirty }}</pre>
<pre> valid => {{ f.valid }}</pre>
<pre> touched => {{ f.touched }}</pre>
<div *ngIf="f.invalid && (f.dirty || f.touched)">
	<small *ngIf="nameRef.errors?.required">
		Name is required!
	</small>
	<small *ngIf="nameRef.errors?.minlength">
		Name must be at least 3 chars!
	</small>
	<small *ngIf="abilityRef.errors?.required">
		Avility is required!
	</small>
</div>
<form #f="ngForm" (submit)="add(f)" [ngClass]="{'error': f.invalid && (f.dirty || f.touched)}">
	<input name="name" #nameRef="ngModel" placeholder="Name" [ngModel]="hero?.name" required minlength="3"
		[ngClass]="{'error-input': nameRef.invalid && (nameRef.dirty || nameRef.touched)}">
	<input name="ability" #abilityRef="ngModel" placeholder="Ability" [ngModel]="hero?.ability"
		[ngClass]="{'error-input': abilityRef.invalid && (abilityRef.dirty || abilityRef.touched)}" required>

	<button type="submit" [disabled]="f.invalid">Save</button>
</form>



<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
	<input type="text" formControlName="name" placeholder="Name">
	<div *ngIf="nameForm.invalid && (nameForm.dirty || nameForm.touched)">
		<div *ngIf="nameForm.errors?.required">
			Name is Required!
		</div>
		<div *ngIf="nameForm.errors?.minlength">
			Name must be at least 3 chars!
		</div>
		<div *ngIf="nameForm.errors?.forbiddenName">
			Name cannot be Prova!
		</div>
	</div>
	<input type="text" formControlName="ability" placeholder="Ability">

	<button type="submit" [disabled]="myForm.invalid"> Save</button>
</form>


<div *ngIf="myForm.invalid && (myForm.dirty || myForm.touched)">
	<div *ngIf="myForm.errors?.formCross">
		Exist only one Fabio with SuperCode Ability!
	</div>
</div>